<h1>Visits</h1>

<ul>
	<% @visits.each do |visit| %>
	<li>
		<% if visit.location_id.present? %>
		 Visit <%= visit.id %> -
			Location ID <%= visit.location_id %> -
		<% end %>
		Username <%= visit.user_name %>
		</li>
		<% end %>
	</ul>
</ul>