

<article>

<div class="page-header">
	
  <h1> <%= @user.user_firstname + " "+ @user.user_lastname%> <small> user page</small></h1>
  
</div>


<div class='user'>
	<p>
	
	</p>
</div>
<div class='info'>

	<ul class="list-group">
		<% @locations.each do |visits| %>

  			<li class="list-group-item">
  			
  					<%=	link_to(Location.find(visits).name, location_path(@user))%>
  				
  			</li>

		<% end %>
	</ul>

</div>
</article>